{% extends 'common/base.html' %}
{% block title %}
<title>Job search</title>
{% endblock %}
{% block content %}
    <h1>Positions</h1>
    <a class="button button-primary" href="{% url 'add-position' %}">Add a position</a>
    {% for position in positions %}
    <div class="row">
        <div class="two columns"><a href="{% url 'position-detail' position.id %}">{{ position.start_date | date:'d-m-Y' }}</a></div>
        <div class="two columns">{{ position.company_name }}</div>
        <div class="two columns">{% if position.link %}<a href="{{ position.link }}">{{ position.role }}</a>{% else %}{{ position.role }}{% endif %}</div>
        <div class="six columns">
        {% for note in position.notes.all %}
            <div>{{ note.happened_at | date:'d-m-Y' }}- {{ note.description }}</div>
        {% endfor %}
        </div>
    </div>
    {% endfor %}
</main>
{% endblock %}